<!DOCTYPE html>
<html lang="en">

<head>
	<title>MLink - Gestion des jeux</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{>css}}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<style>
		.toggle-handle {
			background-color: white;
		}
	</style>
</head>

<body>
	{{>header}}

	<div class="container container-base w-25">
		<form action="/game/todo" method="post">
			<div class="title text">
				<label>Gestion des jeux</label>
			</div>

			<div class="form-group">
				<select class="form-control" name="serverSelect" id="serverSelect">
					{{#each serverSelect}}
					<option value="{{value}}">{{name}}</option>
					{{/each}}
				</select>
			</div>

			<div class="form-group">
				<input type="text" name="gameName" class="form-control" id="gameName" placeholder="Nom du jeu">
			</div>

			<div class="row">
				<div class="col-sm">
					<input name="roleOnly" id="roleOnly" type="checkbox" data-toggle="toggle" data-onstyle="success"
						data-offstyle="danger" data-on="<i class='fas fa-check'></i> Réserver<br>aux rôles"
						data-off="<i class='fas fa-times'></i> Accessible<br>à tous">
				</div>
				<div id="divIdSponsor" class="col-8">
					<div class="form-group">
						<input type="idSponsor" name="idSponsor" class="form-control" id="idSponsor"
							placeholder="ID des rôles sponsors">
						<label>Le bot doit être sur le serveur<br/>Séparer les ids des rôles par une virgule</label>
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary form-btn">Continuer</button>
		</form>
	</div>

	{{>js}}
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		$('#roleOnly').change(function () {
			setRole($(this).prop('checked'));
		});

		function setRole(etat) {
			$("#divIdSponsor").toggle(etat);
			$('#roleOnly').bootstrapToggle(etat ? 'on' : 'off');
		}

		setRole(false);
	</script>
</body>

</html>